
.title {
    font-family: 'mulish-bold';
    font-size: 25px;    
    margin-bottom: 1rem;
}

table {
    border-collapse: collapse;
    width: 98%;
}

th, td {
    text-align: left;
    padding: 10px;
    border-bottom: 1px solid #D9D9D9;
}

th {
    color: #ffffff;
}

.header {
    font-size: 18px;
    margin-bottom: 10px;
}

.table-wrapper {
    max-height: 400px;
    overflow-y: auto;
    border-radius: 5px;
    width: 400px;
}
.table-wrapper::-webkit-scrollbar {
    width: 8px;
}
.table-wrapper::-webkit-scrollbar-track {
    background: #34495e;
    border-radius: 4px;
}
.table-wrapper::-webkit-scrollbar-thumb {
    background-color: #576574;
    border-radius: 4px;
}
.table-wrapper::-webkit-scrollbar-thumb:hover {
    background-color: #7f8c8d;
}

.add-button {
    top: -5px; 
    right: 0;
    color: #D9D9D9;
    background: none;
    border: none;
    font-size: 25px;
    cursor: pointer;
}