<div class="page">
    <div class="header">
        <h1>Voting App</h1>
    </div>
    <div class="container">
        <div class="row">
            <div class="column">
                <div>
                    <div class="description-title">Your voice <br>
                        really matters!</div>
                        
                    <div class="description">Make your vote count with our fast <br>
                        and robust voting app. Participate in<br>
                        decisions effortlessly, anytime, anywhere!</div>
                </div>
            </div>
            <div class="column aling-to-bottom">
                <app-voting-form></app-voting-form>
            </div>
        </div>

        <div class="row">
            <div class="column">
                <div class="voters-list">
                    <app-voters-list></app-voters-list>
                </div>
            </div>
            <div class="column">
                <app-candidates-list></app-candidates-list>
            </div>
        </div>
    </div>

</div>